<div ng-controller="MyInfoController as info" class="container">
	<div ng-if="info.details.firstName" class="container">
		<h3>Your subscription details</h3>
		<div>First Name:  {{info.details.firstName}}</div>
		<div>Last Name:  {{info.details.lastName}}</div>
		<div>Email:  {{info.details.email}}</div>
		<div>Phone Number:  {{info.details.phoneNumber}}</div>
		<div>Favourite Dish:  {{info.details.favouriteDish}}</div>
	</div>
	<div ng-if="!info.details.firstName" class="container">
		<div>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></div>
	</div>
</div>
